[submodule "PrimeFactors/googletest"]
	path = PrimeFactors/googletest
	url = https://github.com/google/googletest.git
[submodule "PrimeFactorsCompleted/googletest"]
	path = PrimeFactorsCompleted/googletest
	url = https://github.com/google/googletest.git
[submodule "FizzBuzz/googletest"]
	path = FizzBuzz/googletest
	url = https://github.com/google/googletest.git
[submodule "Stack/googletest"]
	path = Stack/googletest
	url = https://github.com/google/googletest.git
